<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Resend confirmation instructions</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "username", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
            <div class="text-danger">
              <%= resource.errors.messages[:username].join(', ')%>
            </div>
            <%= f.submit "Resend confirmation instructions"%>
            <div>
              <%= render "users/shared/links" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%end%>
