<%= stylesheet_link_tag "tnx_history"%>
<div class="mt-4" style= "margin-left: 84%; position: absolute; " >
  <%= link_to "Back", :back, class:"btn-primary" %>
</div>
<section>
  <h1>Accounts Activation Request</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>A.C Holder Name</th>
          <th>Account type</th>
          <th>Account No.</th>
          <th>Created</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <%@accounts.each do |account|%>
          <tr>
            <td><%= account.first_name + account.last_name %></td>
            <td><%= account.account_type %></td>
            <td><%= account.account_number %></td>
            <td><%= account.created_at.strftime("%D, %T") %></td>
            <td>
              <%= link_to 'Active' , admin_isactive_path(account.id), class:"btn btn-link"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<div style="margin-left: 36%;">
  <%== pagy_bootstrap_combo_nav_js(@pagy) %>
</div>
<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank" href="https://www.instagram.com/yadhu_krish_na/">Yadhu & Krishna</a>
</div>
