<%= stylesheet_link_tag "tnx_history"%>
<div class="mt-4" style= "margin-left: 84%; position: absolute; " >
  <%= link_to "Back", :back, class:"btn-primary" %>
</div>
<section>
  <!--for demo wrap-->
  <h1>All Cards</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Card No.</th>
          <th>Card Cvv</th>
          <th>Card Pin</th>
          <th>Created</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <%@cards.each do |card|%>
          <tr>
            <td><%= card.id %></td>
            <td><%= card.account.first_name %></td>
            <td><%= card.number %></td>
            <td><%= card.cvv %></td>
            <td><%= card.pin %></td>
            <td><%= card.created_at.strftime("%B %d, %Y") %></td>
            <td> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<div style="margin-left: 36%;">
  <%== pagy_bootstrap_combo_nav_js(@pagy) %>
</div>
<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank" href="https://www.instagram.com/yadhu_krish_na/">Yadhu & Krishna</a>
</div>
