<%= stylesheet_link_tag "card" %>
<div class="main">
  <div class="row w-row mt-4">
    <div class="basic-column w-col w-col-3">
      <div class="tag-wrapper">
        <div class="number-card number-card-content1">
          <h1 class="number-card-number"><%= link_to 'Users', admin_users_path%></h1>
          <div class="divider"></div>
          <h1 class="number-card-number"><%= @users %></h1>
        </div>
      </div>
    </div>
    <div class="basic-column w-col w-col-3">
      <div class="tag-wrapper">
        <div class="number-card number-card-content2">
          <h1 class="number-card-number"><%= link_to 'Accounts', admin_accounts_path %></h1>
          <div class="divider"></div>
          <h1 class="number-card-number"><%= @accounts%></h1>
        </div>
      </div>
    </div>
    <div class="basic-column w-col w-col-3">
      <div class="tag-wrapper">
        <div class="number-card number-card-content3">
          <h1 class="number-card-number"><%= link_to 'Trans...', admin_transactions_path %></h1>
          <div class="divider"></div>
          <h1 class="number-card-number"><%= @transactions%></h1>
        </div>
      </div>
    </div>
    <div class="basic-column w-col w-col-3">
      <div class="tag-wrapper">
        <div class="number-card number-card-content4">
          <h1 class="number-card-number"><%= link_to 'Cards', admin_cards_path %></h1>
          <div class="divider"></div>
          <h1 class="number-card-number"><%= @cards%></h1>
        </div>
      </div>
    </div>
  </div>
  <h2>Sign up Users</h2>
  <div class="divider"></div>
  <div class="mt-5">
    <%= column_chart User.group_by_day_of_week(:created_at, format: "%a").count, xtitle: "Week", ytitle: "Users" %>
  </div>
  <h2 class="mt-5">Transactions Per Day</h2>
  <div class="divider"></div>
  <div class="mt-5">
    <%= line_chart Transaction.group_by_day_of_week(:created_at, format: "%a").count, xtitle: "Days", ytitle: "Transactions"%>
  </div>
</div>
<%= render_activities(@activities) %>
