<%= stylesheet_link_tag "tnx_history" %>
<%= stylesheet_link_tag "popup_card" %>
<div class="mt-4" style= "margin-left: 84%; position: absolute; " >
  <%= link_to "Back", :back, class: "btn-primary" %>
</div>
<section>
  <!--for demo wrap-->
  <h1>All Users</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Email Address</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%D, %T") %></td>
            <td class="btn btn-link"> <%= link_to 'show details', admin_user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<div style="margin-left: 36%;">
  <%== pagy_bootstrap_combo_nav_js(@pagy) %>
</div>
<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank" href="https://www.instagram.com/yadhu_krish_na/">Yadhu & Krishna</a>
</div>
