<%= stylesheet_link_tag "tnx-history"%>
<section>
  <!--for demo wrap-->
  <div style= "margin-left: 84%; position: absolute; " >
    <%= link_to "Back", :back, class:"btn-primary" %>
  </div>
  <h1>All Users</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Created</th>
          <% if Account.exists? %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <%@users.each do |user|%>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username%></td>
            <td><%= user.email%></td>
            <td><%= user.created_at%></td>
            <% unless user.accounts.empty? %>
              <td ><%= link_to "Show account", admin_accounts_path(user),class:"btn-primary text-center"  %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank" href="https://www.instagram.com/yadhu_krish_na/">Yadhu & Krishna</a>
</div>
