<div class="container ">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="group">
              <%= f.label :email,for:"user", class:"label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"user", class:"input" %>
            </div>
            <div class="group">
              <%= f.label :password ,for:"pass", class:"label" %>
              <%= f.password_field :password, autocomplete: "current-password", id:"pass", class:"input" %>
            </div>
            <div class="group">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, id:"check", class:"check" %>
                <%= f.label :remember_me, for:"check", class:"icon" %>
              <% end %>
            </div>
            <div class="group">
              <%= f.submit "Log in", class:"button" %>
            </div>
          <% end %>
          <div class="hr"></div>
          <div class="foot-lnk">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
