<%= stylesheet_link_tag "payment_gateway" %>
<div class="mt-4" style="margin-left: 84%; position: absolute; ">
  <%= link_to "Back", account_path(params[:account_id]), class: "btn-primary" %>
</div>
<%= form_with(model: @tnx, url: account_deposits_path)  do |form|  %>
  <div class="container">
    <div class="card p-center">
      <div class="top">
        <h3>Deposit Details</h3>
        <hr>
      </div>
      <div class="card-details mt-4">
        <%= form.text_field :account_number, placeholder:"0000 0000 0000 0000",required: true%>
        <span>Account Number</span>
      </div>
      <%= form.hidden_field :transaction_type, value: "debited" %>
      <div class="card-details mt-5">
        <%= form.text_field :transaction_amount, placeholder:"100.00", required: true%>
        <span>Amount</span>
      </div>
      <%=form.submit "Confirm & Deposit", class:"button mt-5" %>
    </div>
  </div>
<%end%>
