<div class="container ">
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Change your password</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <div class="group ">
              <%= f.label :password, "New password", for:"pass", class:"label" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password",id:"pass", class:"input" %>
            </div>
            <div class="group">
              <%= f.label :password_confirmation, "Confirm new password", for:"pass", class:"label"  %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"pass", class:"input" %>
            </div>
            <div class="group mt-7">
              <%= f.submit "Change my password",class:"button" %>
            </div>
          <% end %>
          <div class="hr mt-5"></div>
          <div class="foot-lnk">
            <div class="btn-primary">
              <%= render "users/shared/links"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
