<%= stylesheet_link_tag "payment_gateway" %>
<div class="container">
  <div class="card p-center">
    <%= form_with(model: @card,method: :post, url: account_card_save_pin_path)  do |form|  %>
      <div class="top">
        <h3>Set Card Pin</h3>
        <hr>
      </div>
      <div class="card-details mt-3">
        <%= form.text_field :pin, placeholder:"00 00 00",size:"6", required:true %>
        <span>Enter pin</span>
      </div>
      <div class="text-danger">
        <%= @card.errors.messages[:pin].join(', ')%>
      </div>
      <div class="card-details mt-3">
        <%= form.text_field :pin2, placeholder:"00 00 00",size:"6", required:true %>
        <span>Enter Again</span>
      </div>
      <div class="text-danger">
        <%= @card.errors.messages[:pin2].join(', ')%>
      </div>
      <%=form.submit "Set pin", class:"button mt-4" %>
    <%end%>
    <div>
      <%=link_to "Cancel & Back", account_card_path(params[:account_id],params[:card_id]), class:"button mt-4"%>
    </div>
  </div>
</div>
