<%= stylesheet_link_tag "tnx-history" %>
<section>
  <!--for demo wrap-->
  <div style= "margin-left: 84%; position: absolute; " >
    <%= link_to "Back", :back, class:"btn-primary" %>
  </div>
  <h1>Account Transactions</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Tnx ID</th>
          <th>Tnx Type</th>
          <th>Tnx Amount</th>
          <th>Tnx Status</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @transactions.each do |tnx|%>
          <tr>
            <td> <%=tnx.transaction_id%> </td>
            <td> <%=tnx.transaction_type%></td>
            <td> <%=tnx.transaction_amount%></td>
            <td> <%=tnx.transaction_status%></td>
          </tr>
        </tbody>
      <%end%>
    </table>
  </div>
</section>
<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank" href="https://www.instagram.com/yadhu_krish_na/">Yadhu & Krishna</a>
</div>
