<%= stylesheet_link_tag "home" %>
<footer class= "mt-5">
  <div class="wrapper-flex">
    <div class="text-white">
      <a href="<%=root_path%>">
        <%= image_tag 'logo(3).png', class:"logo" %>
      </a>
      <div class="social-link mt-5">
        <a href="https://www.facebook.com/?sk=welcome&ext=1656080099&hash=AeYY_2XkgjbjgN4tjBE">
          <%= fa_stacked_icon "facebook", base: "square-o"%>
        </a>
        <a href="#">
          <%= fa_stacked_icon "youtube", base: "square-o"%>
        </a>
        <a href="#">
          <%= fa_stacked_icon "twitter", base: "square-o"%>
        </a>
        <a href="#">
          <%= fa_stacked_icon "pinterest", base: "square-o"%>
        </a>
        <a href="#">
          <%= fa_stacked_icon "instagram", base: "square-o"%>
        </a>
      </div>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><%= link_to 'Blog', blog_path %></li>
      </ul>
      <ul>
        <li><a href="#">Support</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <button class="btn-primary">
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </button>
    <p class="copyright">&copy;Swiss Bank Limited</p>
  </div>
</footer>
