<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <%= link_to root_path do%>
        <%= image_tag 'logo.png', class:"logo" %>
      <% end %>
    </div>
    <div>
      <ul class="navbar-nav">
        <li> <%= link_to 'Home', root_path %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><%= link_to 'Blog', blog_path %></li>
      </ul>
    </div>
    <div class="btn-primary">
      <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path, class:" me-3" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class:" me-3" %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </nav>
</header>
