<!DOCTYPE html>
<html>
  <head>
    <title>Bank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% user = current_user %>
    <% if !(user_signed_in?) || (user.has_role? :user) %>
      <%= render 'layouts/navbar'%>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <% if !(user_signed_in?) || (user.has_role? :user) %>
      <%= render 'layouts/footer'%>
    <% end %>
  </body>
</html>
