<!DOCTYPE html>
<html>
  <head>
    <title>Bank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </head>
  <body>
    <% if (user_signed_in?) && (current_user.has_role? :admin) %>
      <%= render "layouts/adminnavbar"%>
    <% else %>
      <%= render "layouts/navbar"%>
    <% end %>
    <%= yield %>
    <% unless (user_signed_in?) && (current_user.has_role? :admin) %>
      <%= render "layouts/footer"%>
    <% end %>
  </body>
  <script>
    <% if flash.any? %>
      Toastify({
        <% flash.each do |key, value| %>
          text: "<%= value %>",
          duration: 2000,
          className: "info",
          style: {
            <%if key == "notice" %>
            background: "linear-gradient(to right, #00b09b, #96c93d)",
            <%else%>
            background: "linear-gradient(to right, #f92c6a, #e71a1a)",
            <%end%>
          }
        <%end%>
      }).showToast();
    <% end %>
  </script>
</html>
