<%= stylesheet_link_tag "account_show" %>
<div class="mt-5" style= "margin-left: 84%; position: absolute;" >
  <%= link_to "Back", accounts_path, class:"btn-primary" %>
</div>
<main class="container">
  <div class="card">
    <div class="card__text">
      <h2><%=account.first_name + account.last_name%></h2>
      <p>Banking Made Easy</p>
    </div>
    <ul class="card__info">
      <li>
        <span>Account Type</span>
        <span class="card__info__stats"><%=account.account_type%></span>
      </li>
      <li>
        <span>Account Number</span>
        <span class="card__info__stats"><%=account.account_number%></span>
      </li>
      <li>
        <span>Balance</span>
        <span class="card__info__stats"><%=account.account_balance%></span>
      </li>
    </ul>
    <div class="card__action">
      <%= link_to 'Update ', edit_account_path(account), class:"card__action__button card__action--follow"%>
      <%= link_to 'Deposit Amount', new_account_deposit_path(account), class:"card__action__button card__action--message"%>
    </div>
    <div class="card__action">
      <%= link_to 'Passbook', account_transactions_path(account), class:"card__action__button card__action--follow mt-3"%>
      <%= link_to 'Benefi..Transfer', new_account_beneficiary_path(account), class:"card__action__button card__action--message  mt-3"%>
    </div>
    <div class="card__action">
      <%if account.card == nil%>
        <%= link_to 'Generate ATM', new_account_card_path(account), class:"card__action__button card__action--follow mt-3"%>
      <%else%>
        <%id = account.card.id%>
        <%= link_to 'View ATM', account_card_path(account.id,id), class:"card__action__button card__action--follow mt-3"%>
        <% unless account.card.pin.nil?%>
          <%= link_to 'Cards Transfer', new_account_card_transfer_path(account), class:"card__action__button card__action--message mt-3"%>
        <%end%>
      <%end%>
    </div>
  </div>
</main>
