<%= stylesheet_link_tag "account_show" %>
<div class="mt-4" style="margin-left: 84%; position: absolute; ">
  <%= link_to "Back", :back, class: "btn-primary" %>
</div>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Swiss Application  Form</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <%= form_with(model: @account, local: true) do |form|  %>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <%= form.text_field :first_name, placeholder:"First Name" %>
              </div>
              <div class="text-danger">
                <%= @account.errors.messages[:first_name].join(', ')%>
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <%= form.text_field :last_name, placeholder:"Last Name" %>
              </div>
              <div class="text-danger">
                <%= @account.errors.messages[:last_name].join(', ')%>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <%= form.text_field :nomine_name, placeholder:"Nomine Name" %>
              </div>
              <div class="text-danger">
                <%= @account.errors.messages[:nomine_name].join(', ')%>
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
                <%= form.text_field :phone_number, placeholder:"Phone Number" %>
              </div>
              <div class="text-danger">
                <%= @account.errors.messages[:phone_number].join(', ')%>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <%= form.text_field :age, placeholder:"Age" %>
              </div>
              <div class="text-danger">
                <%= @account.errors.messages[:age].join(', ')%>
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-id-card"></i></span>
                <%= form.text_field :adhar_number, placeholder:"Adhar Number" %>
              </div>
              <div class="text-danger">
                <%= @account.errors.messages[:adhar_number].join(', ')%>
              </div>
            </div>
          </div>
          <div class="input_field radio_option">
            <%= form.radio_button :gender, 'male',id:"rd1" %>
            <label for="rd1">Male</label>
            <%= form.radio_button :gender, 'female',id:"rd2" %>
            <label for="rd2">Female</label>
          </div>
          <div class="text-danger">
            <%= @account.errors.messages[:gender].join(', ')%>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <%= form.text_field :address, placeholder:"Address" %>
          </div>
          <div class="text-danger">
            <%= @account.errors.messages[:address].join(', ')%>
          </div>
          <div class="input_field select_option">
            <%ac_types = current_user.accounts.map{|ac| ac.account_type}%>
            <%types = ["Current Account", "Savings Account", "Salary Account", "Fixed Account"]%>
            <%for i in ac_types do%>
              <%types.delete_if{|t| t==i}%>
            <%end%>
            <%= form.select :account_type, types %>
            <div class="select_arrow"></div>
          </div>
          <div class="text-danger">
            <%= @account.errors.messages[:account_type].join(', ')%>
          </div>
          <%= form.submit "Register" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
