<%= stylesheet_link_tag "account-show", "data-turbo-track": "reload" %>
<main class="container">
  <div class="card">
    <img src="https://i.pravatar.cc/300" alt="User image" class="card__image justify-content-center" />
    <div class="card__text">
      <h2><%=@account.first_name + @account.last_name%></h2>
      <p>Enjoy your banking from the comfort of HOME</p>
    </div>
    <ul class="card__info">
        <li>
        <span>Account Number</span>
        <span class="card__info__stats"><%=@account.account_number%></span>
      </li>
      <li>
        <span>Balance</span>
        <span class="card__info__stats"><%=@account.account_balance%></span>
      </li>
      
      <li>
        <span>Total Transaction</span>
        <span class="card__info__stats">20</span>
      </li>
    </ul>
    <div class="card__action">
      <%# <button class="card__action__button card__action--follow">Update</button> %>
      <%= link_to 'Update', edit_account_path(@account), class:"card__action__button card__action--follow"%>
      <button class="card__action__button card__action--message">Money Transfer</button>
    </div>
    <br>
    <div class="card__action">
        <button class="card__action__button card__action--follow">Deposit</button>
        <button class="card__action__button card__action--message">Account History</button>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card__text">
        <ul class="card__info">
        <li>
        <span>Tnxs ID</span>
        <span class="card__info__stats"><%=@account.account_number%></span>
      </li>
      <li>
        <span>Type</span>
        <span class="card__info__stats">Credit</span>
      </li>
      
      <li>
        <span>Amount</span>
        <span class="card__info__stats">20</span>
      </li>
    </ul>
    </div>
  </div>
</main>

  