<div class="container ">
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in"checked><label for="tab-1" class="tab">Edit <%= resource_name.to_s.humanize %></label>
      <input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="group">
              <%= f.label :email,for:"user", class:"label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"user", class:"input" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="group">
              <%= f.label :password, for:"pass", class:"label" %>
              <%= f.password_field :password, autocomplete: "new-password", id:"pass", class:"input", placeholder:"leave blank if you don't want to change it" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>
            <div class="group">
              <%= f.label :password_confirmation, for:"pass", class:"label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"pass", class:"input" %>
            </div>
            <div class="group">
              <%= f.label :current_password, for:"pass", class:"label"  %>
              <%= f.password_field :current_password, autocomplete: "current-password", id:"pass", class:"input", placeholder:"we need your current password " %>
            </div>
            <div class="group">
              <%= f.submit "Update", class:"button" %>
            </div>
          <% end %>
          <div class="foot-lnk">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
            <%= link_to "Back", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
