<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <%= f.text_field :username, placeholder:"Name", required:true, multiline: true %>
            </div>
            <div class="text-danger">
              <%=resource.errors.messages[:username].join(', ')%>
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", required:true %>
            </div>
            <div class="text-danger">
              <%= resource.errors.messages[:email].join(', ')%>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"New Password", required:true %>
            </div>
            <div class="text-danger">
              <%= resource.errors.messages[:password].join(', ')%>
            </div>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Repeat Password", required:true %>
            </div>
            <div class="text-danger">
              <%= resource.errors.messages[:password_confirmation].join(', ')%>
            </div>
            <i>(we need your current password to confirm your changes)</i>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Current Password", required:true %>
            </div>
            <div class="text-danger">
              <%= resource.errors.messages[:current_password].join(', ')%>
            </div>
            <%= f.submit "Update" %>
            <div>
              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-link" %>
              <%= link_to "Back", :back, class:"btn btn-link" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%end%>
